

//Header
.img-logo {
    width:200px;
    height:50px;
  }

.bg-orange {
  background: #FF9000;
}

.button-green
{
  background-color: rgb(8, 187, 8);
}

td > img
{
  max-width: 140px;
  height: 50px;
}

.text-orange {
  color:#FF9000 !important;
}

h2 {
  
  text-align:center;
}

.size-img {
  width:250px;
  height:100px;
}

.alert-warning{
  color:red;
}

.alert-succes {
  color:green;
}

.d-none {
  display:none;
}