

//Header
.img-logo {
    width:200px;
    height:50px;
  }

.bg-orange {
  background: #FF9000;
}

.button-green
{
  background-color: rgb(8, 187, 8);
}

img
{
  max-width: 10%;
}

.text-orange {
  color:#FF9000 !important;
}

h2 {
  
  text-align:center;
}